html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #5c0158e8;
    text-align: left;
    padding: 15px;
}

header a{
    color: #fff;
    /** El primer valor aplica para top y bottom, y el segundo left y rigth**/
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main{
    flex: 1;
    padding: 30px;
    text-align: center;

}